<div class="page-header">
  <div class="content-page-header">
    <h5>Reservations</h5>
    <div class="list-btn">
      <ul class="filter-list">
        <li>
          <button class="btn btn-primary mb-3 primary-btn" (click)="addReservation()">
            <i class="fa fa-plus"></i> Add Reservation
        </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

<div class="row custom-container">
  <div class="col-sm-12">
      <div class="card-table">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-center table-hover">
                      <thead class="thead-light">
                          <tr>
                              <th>ID</th>
                              <th>Booking Name</th>
                              <th>Contact Number</th>
                              <th>Booking Type</th>
                              <th>Date</th>
                              <th>Hall</th>
                              <th>Menu</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let reservation of reservations let i = index">
                              <td>{{ i+1 }}</td>
                              <td>{{ reservation.booking_name }}</td>
                              <td>{{ reservation.contact_number }}</td>
                              <td>{{ reservation.booking_type }}</td>
                              <td>{{ reservation.slot_day }}</td>
                              <td>{{ reservation.slot_type }}</td>
                              <td>{{ getMenuName(reservation.menu_id) }}</td>
                              <!-- <td>{{ getAdditionalServices(reservation.add_service_ids) }}</td> -->
                              <!-- <td class="align-items-center">
                                  <button class="btn btn-danger me-2" (click)="deleteReservation(reservation.booking_id)">
                                      <i class="fa fa-trash-alt"></i> Delete
                                  </button>
                              </td> -->
                              <td class="d-flex align-items-center">
                                <div class="dropdown dropdown-action">
                                  <a
                                    href="javascript:void(0);"
                                    class="btn-action-icon"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    ><i class="fas fa-ellipsis-v"></i
                                  ></a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                      <!-- <li>
                                        <a
                                          class="dropdown-item"
                                          [routerLink]="routes.editproducts"
                                          [queryParams]="{ id: data.id }"
                                          ><i class="far fa-edit me-2"></i>Edit</a
                                          >
                                        </li> -->
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            (click)="deleteReservation(reservation.booking_id)"
                                            ><i class="far fa-trash-alt me-2"></i>Delete</a
                                            >
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
