<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title mb-4">Add Reservation</h4>

      <ul class="nav nav-pills navtab-bg nav-justified">
        <li class="nav-item">
          <button
            (click)="goToStage(1)"
            data-bs-toggle="tab"
            aria-expanded="false"
            class="nav-link"
            [class.active]="stage === 1"
          >
            Stage 1
        </button>
        </li>
        <li class="nav-item">
          <button
            (click)="goToStage(2)"
            data-bs-toggle="tab"
            aria-expanded="true"
            class="nav-link"
            [class.active]="stage === 2"
            [disabled]="isStageDisabled(2)"
          >
            Stage 2
        </button>
        </li>
        <li class="nav-item">
          <button
            (click)="goToStage(3)"
            data-bs-toggle="tab"
            aria-expanded="false"
            class="nav-link"
            [class.active]="stage === 3"
            [disabled]="isStageDisabled(3)"
          >
            Stage 3
        </button>
        </li>
        <li class="nav-item">
          <button
            (click)="goToStage(4)"
            data-bs-toggle="tab"
            aria-expanded="false"
            class="nav-link"
            [class.active]="stage === 4"
            [disabled]="isStageDisabled(4)"
          >
            Stage 4
          </button>
        </li>
      </ul>

      <div *ngIf="stage === 1" class="reservation-container">
    <div class="heading">
      <h3 class="mb-4 clr">Enter Reservation Details</h3>
    </div>
    <form>
      <div class="mb-3">
        <label for="reservationName" class="form-label">Reservation Name <span style="color: red;">*</span></label>
        <input type="text" id="reservationName" class="form-control"
          [(ngModel)]="reservation.reservation_name" name="reservation_name">
      </div>
      <div class="mb-3">
        <label for=" contactNumber" class="form-label">Contact Number <span style="color: red;">*</span></label>
        <input type="text" id="contactNumber" class="form-control"
          [(ngModel)]="reservation.contact_number" name="contact_number">
      </div>
      <div class="mb-3">
        <label for="alt_contact_number" class="form-label">Alternate Contact Number</label>
        <input type="text" id="alt_contact_number" class="form-control"
          [(ngModel)]="reservation.alt_contact_number" name="alt_contact_number">
      </div>
      <!-- input for booker_type with select options of Bride, Groom, Other. Other being selected by default -->
      <div class="mb-3">
        <label for="bookerType" class="form-label">Booking Type</label>
        <select class="form-control" [(ngModel)]="reservation.booker_type" name="booker_type" id="booker_type">
          <option value="Bride">Bride</option>
          <option value="Groom">Groom</option>
          <option value="Other" selected>Other</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="reserverName" class="form-label">Event Type <span style="color: red;">*</span></label>
        <!-- <input type="text" id="reserverName" class="form-control"
        [(ngModel)]="reservation.booking_type" name="booking_type"> -->
        <select class="form-control" *ngIf="events" [(ngModel)]="reservation.booking_type" name="booking_type" id="booking_type">
          <option *ngFor="let event of events" [value]="event.event_name">
            {{ event.event_name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control"
          [(ngModel)]="reservation.description" name="description">
      </div>
      <div class="mb-3 position-relative">
        <label for="date" class="form-label">Date <span style="color: red;">*</span></label>
        <div class="input-group">
          <span class="input-group-text bg-light border-0">
            <i class="bi bi-calendar-event text-primary"></i>
          </span>
          <input type="date" id="date" class="form-control dateInput"
            [(ngModel)]="reservation.date" name="date">
        </div>
      </div>
    </form>
    <div class="btnAl">

      <button class="btn btn-primary btnAll" (click)="cancelReservation()">
        <i class="fa fa-times" style="font-size:19px;"></i> Cancel
      </button>
      <button class="btn btn-primary btnAll" (click)="nextStage()"
        [disabled]="!isStage1Valid()">
        Next <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div *ngIf="stage === 2" class="calendar-container">

    <div class="p-3">

      <div class="table-responsive">
        <table class="table bookingTable">
          <thead>
          <tr>
            <th class="border-0"></th>
            <th>
                  <div class="day current">13</div>
                  <span>Monday, 2025</span>
                </th>
              <th>
                  <div class="day">14</div>
                  <span>Monday, 2025</span>
              </th>
              <th>
                <div class="day">15</div>
                  <span>Monday, 2025</span>
              </th>
              <th>
                <div class="day">16</div>
                  <span>Monday, 2025</span>
              </th>
              <th>
                  <div class="day">17</div>
                  <span>Monday, 2025</span>
              </th>
              <th>
                  <div class="day">18</div>
                  <span>Monday, 2025</span>
                </th>
              <th>
                  <div class="day">19</div>
                  <span>Monday, 2025</span>
                </th>
              </tr>
          </thead>
          <tbody>
          <tr>
            <th>Luxury</th>
            <td>
                  <div class="btnRow">
                    <button class="btn available"
                    data-bs-trigger="focus"
                              data-bs-toggle="popover"
                              data-bs-placement="top"
                              data-bs-custom-class="custom-popover"
                              data-bs-title="Client Information"
                              data-bs-content="This popover is themed via CSS variables.">
                              Slot 1
                      </button>
                      <button class="btn booked">Slot 2</button>
                    </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn partiallyBooked">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                    <button class="btn">Slot 1</button>
                    <button class="btn">Slot 2</button>
                  </div>
                </td>
                <td>
                  <div class="btnRow">
                    <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
              </td>
              <td>
                <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                    <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
                </td>
                <td>
                  <div class="btnRow">
                    <button class="btn">Slot 1</button>
                    <button class="btn">Slot 2</button>
                  </div>
              </td>
            </tr>
            <tr>
              <th>Premium</th>
              <td>
                <div class="btnRow">
                  <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
                </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                <div class="btnRow">
                  <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
                  </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
              </td>
          </tr>
          <tr>
              <th>Normal</th>
              <td>
                <div class="btnRow">
                  <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
              </td>
              <td>
                <div class="btnRow">
                  <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
                  </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                  </div>
              </td>
              <td>
                  <div class="btnRow">
                      <button class="btn">Slot 1</button>
                      <button class="btn">Slot 2</button>
                    </div>
              </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>

    <div class="heading">
      <h5 *ngIf="month[0]===month[6]" class="mt-4 clr">{{month[0]}} {{year}}</h5>
        <h5 *ngIf="!(month[0]===month[6])" class="mt-4 clr">{{month[0]}} - {{month[6]}} {{year}}</h5>
      </div>

    <div class="calendar">
      <div class="timeline"
        style="display: flex; flex-direction: column; justify-content: space-between; font-weight: bold; margin-bottom: 10px; margin-top: 100px;">
          <div *ngFor="let slotType of slotTypes" class="time-marker" style="flex: 1; text-align: center;">{{ slotType }}</div>
      </div>
      <div class="days">
        <div *ngFor="let day of days; let i = index" class="day"
          style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
          <div *ngIf="!(i==3)" class="date-circle">
            <p class="date-day">{{ days_cal[i] }}</p>
          </div>          
          <div *ngIf="(i==3)" class="date-circle-selected">
            <p class="date-day">{{ days_cal[i] }}</p>
          </div>          
          <div class="events"
            style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px;">
            <div class="event"
              *ngFor="let slotType of slotTypes"
              style="border-bottom: 2px solid #ccc; padding-bottom: 10px;">
              <div class="slot-card"
                style="display: flex; flex-direction: column; align-items: center;">
                <div class="radio-container" style="display: flex; gap: 15px;">
                  <input type="radio" name="selected_slot"
                    id="event-{{ slotType.toLowerCase() }}-{{ i }}-1"
                    (change)="selectSlot({ day: day, type: slotType, slot: 1 })"
                    [disabled]="isSlotDisabled({ day: day, type: slotType, slot: 1 })">
                  <label for="event-{{ slotType.toLowerCase() }}-{{ i }}-1"
                    class="slot">Slot
                    1</label>

                  <input type="radio" name="selected_slot"
                    id="event-{{ slotType.toLowerCase() }}-{{ i }}-2"
                    (change)="selectSlot({ day: day, type: slotType, slot: 2 })"
                    [disabled]="isSlotDisabled({ day: day, type: slotType, slot: 2 })"
                    class="slot">
                  <label for="event-{{ slotType.toLowerCase() }}-{{ i }}-2"
                    class="slot">Slot
                    2</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3 btnAl specialButton">
      <button class="btn btn-secondary btnAll" (click)="prevStage()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
      <button class="btn btn-primary btnAll" (click)="nextStage()"
        [disabled]="!isStage2Valid()">
        Next <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="mt-5">
    <!-- Stage 3: Select Menus -->
    <div *ngIf="stage === 3">
      <div class="page-header">
        <div class="content-page-header">
          <h5>Menu Selection</h5>
          </div>
        </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let menu of availableMenus">
          <div class="card menu-card"
            (click)="selectMenu(menu)"
            [ngClass]="{'selected-menu': reservation.selectedMenu?.menu_id === menu.menu_id}"
            style="cursor: pointer; transition: 0.3s; border: 2px solid transparent; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">

            <div class="card-body">
              <!-- Hidden Radio Button -->
              <input type="radio"
                id="menu-{{ menu.menu_id }}"
                name="selectedMenu"
                [value]="menu"
                [(ngModel)]="reservation.selectedMenu"
                (change)="selectMenu(menu)"
                style="display: none;">

              <h5 class="card-title">{{ menu.menu_name }}</h5>
              <p class="card-text"><strong>Description:</strong> {{
                menu.description }}</p>
              <p class="card-text"><strong>Price:</strong> {{ menu.menu_price |
                currency }}</p>

              <ul style="padding-left: 15px;">
                <li *ngFor="let item of menu.menu_items"
                  style="font-size: 14px;">
                  <span>{{ item.item_name }} - {{ item.price | currency
                    }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 mt-4" style="display: flex;justify-content: right;">
        <label for="numPersons" class="form-label"
          style="width: 200px; color: black;">Number of Persons</label>
        <input type="number" id="numPersons" class="form-control"
          [(ngModel)]="reservation.num_of_persons" name="num_of_persons"
          min="1" style="border: 2px solid #007bff; width:auto;">
      </div>

      <div class="text-center mt-3 btnAl">
        <button class="btn btn-secondary btnAll" (click)="prevStage()"
          style="margin-right: 10px;">
          <i class="fa fa-arrow-left"></i> Back
        </button>
        <button class="btn btn-primary btnAll" (click)="nextStage()"
          [disabled]="!isStage3Valid()">
          Next <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Stage 4: Final Review -->
  <div *ngIf="stage === 4">
    <div class="page-header">
      <div class="content-page-header">
        <h5>Additional Services</h5>
        </div>
      </div>

    <!-- Display Selected Menu -->
    <div *ngIf="reservation.selectedMenu">
      <div class="card mb-3">
        <div class="card-body">
          <div class="menu-head">
            <div>
              <h5 class="card-title">{{ reservation.selectedMenu.menu_name }}</h5>
              <!-- <p><strong>Price:</strong> {{ reservation.selectedMenu.price |
                currency }}</p> -->
                <div class="service-row mt-1">
                  <input type="number" [(ngModel)]="reservation.selectedMenu.price" name="menuPrice" class="quantity" (input)="updateMenuPriceTotal(reservation.selectedMenu.price)">
                </div>
            </div>
            <div>
              <h5 class="card-title">Total Menu Price: {{reservation.selectedMenu.finalPrice}}</h5>
            </div>
          </div>
            
            <!-- Display selected menu items in a grid -->
          <div class="menu-items-gallery">
            <div *ngFor="let item of menuItems" class="menu-item-card">
              <div class="menu-item-details">
                <label class="menuItemLabel">{{ item.item_name }}</label>
                <label class="menuItemLabel">{{ item.price | currency }}</label>
                <button *ngIf="item.selected"
                  class="btn btn-danger"
                  (click)="removeMenuItem(item)">
                  <i class="fa fa-trash-alt"></i> Remove
                </button>
                <button *ngIf="!item.selected"
                  class="btn btn-primary"
                  (click)="addMenuItem(item)">
                  <i class="fa fa-plus"></i> Add Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Display Additional Services -->
    <div class="mb-3 bdr">
      <h5 class="card-title">Select Additional Services</h5>
      <div class="menu-items-gallery">
        <div *ngFor="let service of additionalServices"
          class="menu-item-card"
          (click)="toggleAdditionalService(service)"
          [ngClass]="{ 'selected-service': service.selected }">
          <input type="checkbox" style="display: none;"
            id="service-{{ service.additional_service_id }}"
            [(ngModel)]="service.selected">
          <label class="menuItemLabel">
            {{ service.additional_service_name }} - {{ service.price | currency
            }}
          </label>
        </div>
      </div>
    </div>

    <!-- additional services -->
    <div *ngIf="checkService()" class="mb-3 bdr">
      <form>
        <div class="mb-3">
          <h5>Additional Services</h5>
        </div>
        <div class="labels-row">
          <span class="label">Item</span>
          <span class="label">Price</span>
          <span class="label">Quantity</span>
          <span class="label">Total Price</span>
          <button type="button" class="remove-btn"></button>
        </div>
        <div class="service-row" *ngFor="let service of additionalServicesSelected; let i = index" [attr.id]="'row-' + i">
          <input class="itemName" type="text" [(ngModel)]="service.additional_service_name" name="itemName-{{ i }}" readonly>
          <input type="number" [(ngModel)]="service.price" name="price-{{ i }}" class="price" (input)="updateTotal(service)">
          <input type="number" [(ngModel)]="service.quantity" name="quantity-{{ i }}" class="quantity" (input)="updateTotal(service)">
          <input type="number" [(ngModel)]="service.totalPrice" name="totalPrice-{{ i }}" class="total-price" readonly>
          <button type="button" class="remove-btn fa fa-trash-alt" (click)="toggleAdditionalService(service)"></button>
        </div>
      </form>
    </div>    
    <!-- Calculate and Display Total Price -->
    <div class="mb-3 bdr">
      <h5>Pre-Bookings</h5>
      <form>
        <!-- <div class="labels-row mlr mt-1">
          <span class="label-2">Service</span>
          <span class="label-2">Calculated Price</span>
          <span class="label-2">Discount</span>
          <span class="label-2">Total Payable</span>
        </div> -->
        <!-- <div class="service-row mlr mt-1">
          <input type="text" class="itemName" [(ngModel)]="reservation.selectedMenu.menu_name" name="reservation.selectedMenu.menu_name" readonly>
          <input type="number" class="price" [(ngModel)]="reservation.selectedMenu.price" name="reservation.selectedMenu.menu_price" readonly>
          <input type="number" class="discount" [(ngModel)]="reservation.selectedMenu.discount" name="discount" (input)="calculateMenuPrice()" placeholder="0">
          <input type="number" class="total-price" [(ngModel)]="reservation.selectedMenu.finalPrice" name="reservation.selectedMenu.totalPrice" readonly>
        </div> -->

        <div class="service-row mlr mt-1">
          <input type="text" class="itemName" [(ngModel)]="preBookingDiscount" name="preBookingDiscount" readonly>
          <input type="number" class="total-price" [(ngModel)]="reservation.Discount" name="Discount">
        </div>
        <div class="service-row mlr mt-1">
          <input type="text" class="itemName" [(ngModel)]="preBookingAdvance" name="preBookingAdvance" readonly>
          <input type="number" class="total-price" [(ngModel)]="reservation.Advance" name="Advance">
        </div>

      </form>
      <!-- <h4><strong>Grand Total: {{ getGrandTotal() | currency }}</strong></h4> -->
    </div>

    <div class="mb-3 bdr labels-row">
      <h5>Total Payable Amount </h5>
      <h5>PKR:{{ getGrandTotal() }}</h5>
    </div>

    <div class="col-xl-12 col-lg-6 col-md-6 col-12 description-box">
      <div class="input-block mb-3" id="summernote_container">
        <label for="Descriptions" class="form-control-label">Additional Note</label>
        <textarea type="text" class="form-control" [(ngModel)]="reservation.notes"></textarea>
      </div>
    </div>

    <!-- Navigation Buttons -->

    <div class="text-center mt-3 btnAl">
      <button class="btn btn-secondary btnAll" (click)="prevStage()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
      <button class="btn btn-primary btnAll" (click)="saveReservation()"
        style="width: 100px;">
        Finish <i class="fa fa-check"></i>
      </button>
    </div>
  </div>

</div>
</div>
</div>
